.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  margin-left: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all .2s ease-in-out;
  margin: .1rem;
}

.delete-btn {
  background-color: #cd0808;
  border-color: #cd0808;
}

.delete-btn:hover {
  background-color: #8b0000;
  border-color: #8b0000;
}

.edit-btn {
  background-color: #15b140;
  border-color: #15b140;
}

.edit-btn:hover {
  background-color: #198d39;
  border-color: #198d39;
}

.cancel-btn {
  color: #282c34;
  margin-left: 0.5rem;
}

.cancel-btn:hover {
  color: #222;
}
